backend/tmp/main
backend/iafarma
backend/server.log
backend/server.log
backend/bin/api
backend/server_output.log
backend/tmp/build-errors.log
backend/api
backend/main
log_server
server.log
tmp/build-errors.log
tmp_files
backend/api.log
bin/
backend/uploads/
**/test_*.go
**/test_*.py
produtos_bella_napoli_import.csv
tmp
**/.DS_Store
backend/.air.toml
backend/.env
